/*Image*/
.root {
    -fx-background-color: transparent;
}

.appbar {
	-fx-background-color: #74b9ff;
}
.searchbox {
	-fx-background-radius: 10px;
	-fx-background-color: #0984e3;
}
.tableview {
    -fx-border-color: transparent;
}
.comboBox {
    -fx-background-color: #dfe6e9;
    -fx-background-radius: 5px;
    -fx-font-size: 14px;
    -fx-text-fill: #2d3436;
}
.comboBoxBold {
    -fx-background-color: #dfe6e9;
    -fx-background-radius: 5px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #2d3436;
}
.card_background {
    -fx-background-color: #00BBF9;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.textBox {
    -fx-background-radius: 10px;
    -fx-text-fill: #636e72;
    -fx-background-color: #E9ECEF;
}
.textBox:focused {
    -fx-background-radius: 10px;
    -fx-text-fill: #636e72;
    -fx-border-color: #2d3436;
    -fx-border-radius: 10px;
}
.textBoxEditMode {
    -fx-background-radius: 10px;
    -fx-text-fill: #2d3436;
    -fx-background-color: #E9ECEF;
}
.textBoxEditMode:focused {
    -fx-background-radius: 10px;
    -fx-text-fill: #2d3436;
    -fx-border-color: #2d3436;
    -fx-border-radius: 10px;
    -fx-background-color: #E9ECEF;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Medium.otf');
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
}
.popins {
	-fx-font-family: 'Montserrat';
}
.mont {

}
/*Cards*/
.successcard {
    -fx-background-radius: 5px;
    -fx-background-color: #55efc4;
    -fx-border-color: #00b894;
    -fx-border-radius: 5px;
}
.card
{
	-fx-background-radius: 10px;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 2, 0, 0, 1);
}
.cardwithBorder
{
	-fx-background-radius: 10px;
	/*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 2, 0, 0, 1);*/
        -fx-border-color: #777672;
        -fx-border-radius: 10px;
}
.cardBlue
{
	-f-text-color: white;
	-fx-background-color: #CAF0F8;
	-fx-background-radius: 10px;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 2, 0, 0, 1);
}
.cardBlue
{
	-f-text-color: white;
	-fx-background-color: #CAF0F8;
	-fx-background-radius: 10px;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 2, 0, 0, 1);
}
.id {
	-fx-background-radius: 20px;
	-fx-background-color: #9BF6FF;
}

.pic {
	-fx-backgound-radius: 10px;
}
/*Buttons*/
.button
{
	-fx-background-radius: 5px;
	-fx-border-radius: 10px;
	-fx-max-width: 300px;
	-fx-max-height: 50px;
	-fx-text-fill: white;
}
.buttonInactive
{
	-fx-background-color: #00000000;
	-fx-background-radius: 10px;
	-fx-border-radius: 20px;
	-fx-max-width: 300px;
	-fx-max-height: 50px;
	-fx-text-fill: white;

}
.buttonRed
{
	-fx-background-color: #ff7675;
	-fx-background-radius: 5px;
	-fx-max-width: 300px;
	-fx-max-height: 50px;
	-fx-text-fill: white;
}
.buttonBlue
{
	-fx-background-color: #0984e3;
        /*-fx-background-color: #73A9FF;*/
	-fx-border-radius: 5px;
	-fx-max-width: 300px;
	-fx-max-height: 50px;
	-fx-text-fill: white;
}
.buttonOrange
{
	-fx-background-color: #FFC278;
        /*-fx-background-color: #FFC278;*/
	-fx-border-radius: 5px;
	-fx-max-width: 300px;
	-fx-max-height: 50px;
	-fx-text-fill: white;
}
.buttonGreen
{
	-fx-background-color: #00b894;
        /*-fx-background-color: #FFC278;*/
	-fx-border-radius: 5px;
	-fx-max-width: 300px;
	-fx-max-height: 50px;
	-fx-text-fill: white;
}

.buttonYellow
{
	-fx-background-color: #FFC278;
        /*-fx-background-color: #FFC278;*/
	-fx-border-radius: 5px;
	-fx-max-width: 300px;
	-fx-max-height: 50px;
	-fx-text-fill: white;
}
.buttonSidebarActive
{
	-fx-background-color: #118AB2;
	-fx-background-radius: 5px;
	-fx-max-width: 300px;
	-fx-max-height: 50px;
	-fx-text-fill: white;
}
/*Window*/
